<div class="text-2xl font-light mb-8 capitalize">
  Cards
</div>

{{ui-heading label="Card Grid"}}

<div class="text-sm">
  Increment me to add cards {{input type='number' value=length class='p-4 border-b border-blue'}}
</div>

<div class="flex flex-wrap mb-4 p-8 bg-gray-xl">
  {{#each cards as |card|}}
    <div class="w-full md:w-1/2 lg:w-1/4">
      <div class="mx-4 mb-4 shadow bg-white p-48 flex flex-col items-center">
          <div class="text-center text-lg mb-4">
            Content Profile
          </div>
          <div class="rounded border border-gray-xd p-48 mb-4">
          </div>
          <div class="text-center text-gray text-sm font-light">
            Traditional Profile are used to organize content within your DocCenter.
          </div>
          <div class="mt-8">
            <button class="btn-primary">select</button>
          </div>
      </div>
    </div>
  {{/each}}
</div>

<div class="uppercase">
  sample
</div>
{{code-snippet name="cards/card.hbs"}}


{{ui-heading label="Card List"}}
<div class="p-64 bg-gray-xl">
  <div class="w-3/5 mx-auto">
    <div class="shadow bg-white mb-8 w-full flex">
      <div class="w-48 bg-red">

      </div>
      <div class="flex-1 flex items-center p-8">
        <div class="px-8">
          ICON
        </div>
        <div class="flex-1">
          <div class="">
            STS Followup
          </div>
          <div class="text-xs text-gray">
            June 6th, 2018
          </div>
        </div>
        <div class="text-gray">
          &ctdot;
        </div>
      </div>
    </div>
    <div class="shadow bg-white mb-8 w-full flex">
      <div class="w-48 bg-green">

      </div>
      <div class="flex-1 flex items-center p-8">
        <div class="px-8">
          ICON
        </div>
        <div class="flex-1">
          <div class="">
            STS Followup
          </div>
          <div class="text-xs text-gray">
            June 6th, 2018
          </div>
        </div>
        <div class="text-gray">
          &ctdot;
        </div>
      </div>
    </div>
    <div class="shadow bg-white mb-8 w-full flex">
      <div class="w-48 bg-blue">

      </div>
      <div class="flex-1 flex items-center p-8">
        <div class="px-8">
          ICON
        </div>
        <div class="flex-1">
          <div class="">
            STS Followup
          </div>
          <div class="text-xs text-gray">
            June 6th, 2018
          </div>
        </div>
        <div class="text-gray">
          &ctdot;
        </div>
      </div>
    </div>
  </div>
</div>
