<div class="text-2xl font-light mb-8 capitalize">
  Modals
</div>

<div class="my-8">
  {{ui-heading label="Standard Modal"}}
</div>
<div class="w-full bg-blue-xd relative" style="height: 250px">
  <div class="shadow border min-w-sm mx-auto rounded absolute pin-c bg-white">
    <div class="p-64">
      Here is some modal content
    </div>
  </div>
</div>
<div class="my-4">
  <div class="uppercase font-bold">
    Sample
  </div>
  {{code-snippet name="modals/modal-simple.hbs"}}
</div>


<div class="my-8">
  {{ui-heading label="Standard Modal with close icon"}}
</div>
<div class="w-full bg-blue-xd relative" style="height: 250px">
  <div class="shadow border min-w-sm mx-auto rounded absolute pin-c bg-white">
    <div class="p-64 relative">
      <div class="pin-t pin-r absolute text-xl pr-4 text-gray-xd">&#215;</div>
      Here is some modal content
    </div>
  </div>
</div>
<div class="my-4">
  <div class="uppercase font-bold">
    Sample
  </div>
  {{code-snippet name="modals/modal-close.hbs"}}
</div>

<div class="my-8">
  {{ui-heading label="Standard Modal w/ close & button"}}
</div>
<div class="w-full bg-blue-xd relative" style="height: 500px">
  <div class="shadow border min-w-sm mx-auto rounded absolute pin-c bg-white">
    <div class="p-64 relative">
      <div class="pin-t pin-r absolute text-xl pr-4 text-gray-xd">&#215;</div>
      <div class="flex flex-col items-center">
        <div class="uppercase text-gray mb-4">
          meetingspace
        </div>
        <div class="text-xl mb-8">
          User Profile Form
        </div>
        <div class="text-center mb-16">
            Sorry, you do not have access to update your profile
        </div>
        <button type="button" class="btn-primary-lg">close</button>
      </div>
    </div>
  </div>
</div>
<div class="my-4">
  <div class="uppercase font-bold">
    Sample
  </div>
  {{code-snippet name="modals/modal-complex.hbs"}}
</div>
