@import 'tailwind';

table {
  margin: 12px 0;
  border-collapse: collapse;
}
th {
  padding: 8px 0;
  text-align: left;
}
thead {
  border-bottom: 2px solid #ededed;
}
tr {
  border-bottom: 1px solid #ededed;
}
td {
  padding: 8px 0;
}

.code {
  display: inline-block;
  padding: 2px;
  background-color: #f8fafc;
  color: #9561e2;
  font-family: monospace;
}
