<div class="shadow border min-w-sm mx-auto rounded absolute pin-c bg-white">
  <div class="p-64 relative">
    <div class="pin-t pin-r absolute text-xl pr-4 text-gray-xd">&#215;</div>
    Here is some modal content
  </div>
</div>
