<div class="shadow border min-w-sm mx-auto rounded absolute pin-c bg-white">
  <div class="p-64 relative">
    <div class="pin-t pin-r absolute text-xl pr-4 text-gray-xd">&#215;</div>
    <div class="flex flex-col items-center">
      <div class="uppercase text-gray mb-4">
        meetingspace
      </div>
      <div class="text-xl mb-8">
        User Profile Form
      </div>
      <div class="text-center mb-16">
          Sorry, you do not have access to update your profile
      </div>
      <button type="button" class="btn-primary-lg">close</button>
    </div>
  </div>
</div>
