@responsive {
  .pin-c {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pin-cy {
    top: 50%;
    transform: translateY(-50%);
  }

  .pin-cx {
    left: 50%;
    transform: translateX(-50%);
  }

  .pin-t-25 {
    top:25%;
  }
}
