.transition {
  transition: all 150ms linear;
  will-change: transform;
}

.transition-opacity {
  transition: opacity 150ms linear;
  will-change: opacity;
}

.transition-width {
  transition: width 300ms linear;
  will-change: width;
}
