<div class="text-2xl font-light mb-8">
  Borders
</div>
<p>
  When applying borders, .bordered will apply the default.
</p>

<table class="mb-32">
  <thead>
    <th>Usage</th>
    <th>Properties</th>
    <th>Example</th>
  </thead>
  <tbody>
    {{#each-in model.borderWidths as | key value| }}
    <tr>
      <td>
        <div class="code inline">
          .border-{{key}}
        </div>

      </td>
      <td>
        border-width: {{value}};
      </td>
      <td>
        <div class="p-4 border-{{key}} border-black">The quick brown fox jumped over the lazy red dog.</div>
      </td>
    </tr>
    {{/each-in}}
  </tbody>
</table>

<div class="text-headline uppercase">
  Border Colors
</div>

<table class="mb-32">
  <thead>
    <th>Usage</th>
    <th>Properties</th>
    <th>Example</th>
  </thead>
  <tbody>
    {{#each-in model.borderColors as | key value| }}
    <tr>
      <td>
        <div class="code">
          .border-{{key}}
        </div>
      </td>
      <td>
        border-color: {{value}};
      </td>
      <td>
        <div class="p-4 border border-{{key}}">The quick brown fox jumped over the lazy red dog.</div>
      </td>
    </tr>
    {{/each-in}}
  </tbody>
</table>

<div class="text-headline uppercase">
  Border Radius
</div>

<table class="mb-32">
  <thead>
    <th>Usage</th>
    <th>Properties</th>
    <th>Example</th>
  </thead>
  <tbody>
    {{#each-in model.borderRadius as | key value| }}
    <tr>
      <td>
        <div class="code">
          .rounded-{{key}}
        </div>
      </td>
      <td>
        border-radius: {{value}};
      </td>
      <td>
        <div class="p-4 border rounded-{{key}} text-white text-center bg-black">Sample</div>
      </td>
    </tr>
    {{/each-in}}
  </tbody>
</table>
