<div class="text-2xl font-light mb-8">
  Buttons
</div>

{{ui-heading label="primary"}}
<div class="p-4 mb-8">
  <button class="btn-primary my-4">action</button>
  {{code-snippet name="buttons/button-primary.hbs"}}
</div>


<div class="p-4 mb-8">
  <button class="btn-primary-lg my-4">action</button>
  {{code-snippet name="buttons/button-primary-lg.hbs"}}
</div>

<div class="p-4 mb-8">
  <button class="btn-primary-lg my-4" disabled>action</button>
  {{code-snippet name="buttons/button-primary-disabled.hbs"}}
</div>

{{ui-heading label="light"}}
<div class="p-4 mb-8">
  <button class="btn-light my-4">action</button>
  {{code-snippet name="buttons/button-light.hbs"}}
</div>

<div class="p-4 mb-8">
  <button class="btn-light-lg my-4">action</button>
  {{code-snippet name="buttons/button-light-lg.hbs"}}
</div>

<div class="p-4 mb-8">
  <button class="btn-light-lg my-4" disabled>action</button>
  {{code-snippet name="buttons/button-light-disabled.hbs"}}
</div>

{{ui-heading label="dark"}}
<div class="bg-blue-xd p-4 mb-8">
  <button class="btn-dark my-4">action</button>
</div>
{{code-snippet name="buttons/button-dark.hbs"}}

<div class="bg-blue-xd p-4">
  <button class="btn-dark-lg my-4">action</button>
</div>
{{code-snippet name="buttons/button-dark-lg.hbs"}}

<div class="bg-blue-xd p-4">
  <button class="btn-dark-lg my-4" disabled>action</button>
</div>
{{code-snippet name="buttons/button-dark-disabled.hbs"}}

{{ui-heading label="link"}}
<div class="p-4 mb-8">
  <button class="btn-link">view comment</button>
  {{code-snippet name="buttons/button-link.hbs"}}
</div>


<div class="p-4 mb-8">
  <button class="btn-link" disabled>view comment</button>
  {{code-snippet name="buttons/button-link-disabled.hbs"}}
</div>


{{ui-heading label="link alternate"}}
<div class="bg-blue-xd p-4">
  <button class="btn-link-alt my-4">view comment</button>
</div>
{{code-snippet name="buttons/button-link-alt.hbs"}}


<div class="bg-blue-xd p-4">
  <button class="btn-link-alt my-4" disabled>view comment</button>
</div>
{{code-snippet name="buttons/button-link-alt-disabled.hbs"}}
