<div class="text-2xl font-light mb-8">
  Colors
</div>
<p>
  Colors themselves cannot be used, they are conditionally applied to
  <span class='code'>.text-</span> <span class='code'>.bg-</span>  and <span class='code'>.border-</span>
</p>
<table class="mb-8 w-full">
  <thead>
    <th>Name</th>
    <th>Value</th>
    <th>Sample</th>
  </thead>
  <tbody>
    {{#each-in model.colors as |key value index|}}
    <tr>
      <td>{{key}}</td>
      <td>
        {{value}}
      </td>
      <td>
        <div class="bg-{{key}} p-4 text-center">&nbsp;</div>
      </td>
    </tr>
    {{/each-in}}
  </tbody>
</table>

<div class="text-l uppercase">
  Text Colors
</div>
<table class="mb-8 w-full">
  <thead>
    <th>Class Name</th>
    <th>Properties</th>
    <th>Sample</th>
  </thead>
  <tbody>
    {{#each-in model.textColors as |key value index|}}
    <tr>
      <td>
        <div class="code inline">
          .text-{{key}}
        </div>
      </td>
      <td>color: {{value}};</td>
      <td>
        <div class="text-{{key}}">
          Here is a text color
        </div>
      </td>
    </tr>
    {{/each-in}}
  </tbody>
</table>

<div class="text-l uppercase">
  Background Colors
</div>
<table class="mb-8 w-full">
  <thead>
    <th>Class Name</th>
    <th>Properties</th>
    <th>Sample</th>
  </thead>
  <tbody>
    {{#each-in model.colors as |key value index|}}
    <tr>
      <td>
        <div class="code inline">
          .bg-{{key}}
        </div>
      </td>
      <td>background-color: {{value}};</td>
      <td>
        <div class="bg-{{key}} p-4 text-center">&nbsp;</div>
      </td>
    </tr>
    {{/each-in}}
  </tbody>
</table>
