<div class="text-2xl font-light mb-8">
  Shadows
</div>
<div class="w-full flex flex-wrap mb-16">
  <div class="p-8">
    <div class="shadow bg-white p-8 md:p-64 text-center">
      <div class="code">
        .shadow
      </div>
    </div>
  </div>
  <div class="p-8">
    <div class="shadow-modal bg-white p-8 md:p-64 text-center">
      <div class="code">
        .shadow-modal
      </div>
    </div>
  </div>
  <div class="p-8">
    <div class="shadow-flyout bg-white p-8 md:p-64 text-center">
      <div class="code">
        .shadow-flyout
      </div>
    </div>
  </div>
</div>

<div class="text-xl uppercase mb-8">
    z-index
</div>

<p class="mb-8">This is documented quite well on the TailwindCSS website. Please use that in reference in how to use 'z-index'</p>
<a class="btn-link" href="https://tailwindcss.com/docs/z-index" target="_blank">view documentation</a>


<table class="w-full">
  <thead>
    <th>Class</th>
    <th>Value</th>
  </thead>
  <tbody>
    {{#each-in model.zIndex as |key value|}}
    <tr>
      <td>
        <div class="code inline">.z-{{key}}</div>
      </td>
      <td>
        z-index: {{value}};
      </td>
    </tr>
    {{/each-in}}
  </tbody>
</table>
