<div class="text-2xl font-light mb-8">
  Welcome!
</div>

<ul class="mb-32">
  <li>The <a href="https://tailwindcss.com/docs/" class="text-blue">Tailwind</a> documentation is very good and can be used to understand the conventions</li>
  <li>The menu items under Tailwind are the Tailwind utilities that we have NOT customized</li>
  <li>This documentation is designed to be implementation agnostic</li>
  <li>The implementation (React, Ember, HTML) should be created on an as needed basis</li>
</ul>

<p class="mb-8">
  This concept of designing with the smallest available units and building upwards comes from Brad Frost's <a class="text-blue" target="_blank" href="http://bradfrost.com/blog/post/atomic-web-design/">Atomic Design.</a>
</p>

{{ui-heading label="atoms"}}
<div class="border shadow p-32 text-gray-d mb-16">
  "Atoms are the basic building blocks of matter. Applied to web interfaces, atoms are our HTML tags, such as a form label, an input or a button."
</div>

{{ui-heading label="molecules"}}
<div class="border shadow p-32 text-gray-d mb-16">
  "Things start getting more interesting and tangible when we start combining atoms together. Molecules are groups of atoms bonded together and are the smallest fundamental units of a compound. These molecules take on their own properties and serve as the backbone of our design systems."
</div>

{{ui-heading label="organisms"}}
<div class="border shadow p-32 text-gray-d mb-16">
  "Molecules give us some building blocks to work with, and we can now combine them together to form organisms. Organisms are groups of molecules joined together to form a relatively complex, distinct section of an interface."
</div>
