<div class="text-2xl font-light mb-8">
  Layout
</div>
{{ui-heading label="Width"}}
<table class="w-1/2">
  <thead>
    <th>Class</th>
    <th>Value</th>
  </thead>
  <tbody>
    {{#each-in model.width as |key value|}}
      <tr>
        <td>
          <div class="code">
            .w-{{key}}
          </div>
        </td>
        <td>
          width: {{value}};
        </td>
      </tr>
    {{/each-in}}
  </tbody>
</table>
<div class="flex w-full">
  <div class="m-4 w-1/2">
    {{ui-heading label="Min Width"}}
    <table class="w-full">
      <thead>
        <th>Class</th>
        <th>Value</th>
      </thead>
      <tbody>
        {{#each-in model.minWidth as |key value|}}
          <tr>
            <td>
              <div class="code">
                .min-w-{{key}}
              </div>
            </td>
            <td>
              min-width: {{value}};
            </td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
  <div class="m-4 w-1/2">
    {{ui-heading label="Max Width"}}
    <table class="w-full">
      <thead>
        <th>Class</th>
        <th>Value</th>
      </thead>
      <tbody>
        {{#each-in model.maxWidth as |key value|}}
          <tr>
            <td>
              <div class="code">
                .max-w-{{key}}
              </div>
            </td>
            <td>
              max-width: {{value}};
            </td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
</div>

{{ui-heading label="Height"}}
<table class="w-1/2">
  <thead>
    <th>Class</th>
    <th>Value</th>
  </thead>
  <tbody>
    {{#each-in model.height as |key value|}}
      <tr>
        <td>
          <div class="code">
            .h-{{key}}
          </div>
        </td>
        <td>
          height: {{value}};
        </td>
      </tr>
    {{/each-in}}
  </tbody>
</table>
<div class="flex">
  <div class="m-4 w-1/2">
    {{ui-heading label="Min Height"}}
    <table class="w-full">
      <thead>
        <th>Class</th>
        <th>Value</th>
      </thead>
      <tbody>
        {{#each-in model.minHeight as |key value|}}
          <tr>
            <td>
              <div class="code">
                .min-h-{{key}}
              </div>
            </td>
            <td>
              min-height: {{value}};
            </td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
  <div class="m-4 w-1/2">
    {{ui-heading label="Max Height"}}
    <table class="w-full">
      <thead>
        <th>Class</th>
        <th>Value</th>
      </thead>
      <tbody>
        {{#each-in model.minHeight as |key value|}}
          <tr>
            <td>
              <div class="code">
                .max-h-{{key}}
              </div>
            </td>
            <td>
              max-height: {{value}};
            </td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
</div>
