<div class="text-2xl font-light mb-8">
  Margins
</div>
<p class="pb-8">
  Apply padding or margining with <span class="code">.m{side?}-{size?}</span>, <span class="code">.m{side?}-{size?}</span> <span class="code">.-m{side?}-{size?}</span>
</p>
<a class="btn-link" href="https://tailwindcss.com/docs/spacing" target="_blank">view documentation</a>

<div class="flex">
  <div class="my-8 border-4 border-green rounded">
    <div class="{{display}} text-center border border-red rounded">
      <div class="code inline">
        .{{display}}
      </div>
    </div>
  </div>
</div>
<div class="flex w-full">
  <div class="w-1/3 border-r px-32">
    <div class="uppercase">
      Class
    </div>
    {{#each classes as |c|}}
      <div class="flex items-center justify-between my-8">
        <button class="p-4 min-w-icon-lg h-icon-lg mr-8 border rounded {{if (eq css c.key) 'border-green'}}" {{action (mut css) c.key}}>
          {{c.key}}
        </button>
        {{c.label}}
      </div>
    {{/each}}
  </div>
  <div class="w-1/3 border-r px-32">
    <div class="uppercase">
      Side
    </div>
    {{#each sides as |s|}}
      <div class="flex items-center justify-between my-8">
        <button class="p-4 min-w-icon-lg h-icon-lg mr-8 border rounded {{if (eq side s.key) 'border-green'}}" {{action (mut side) s.key}}>
          {{s.key}}
        </button>
        {{s.label}}
      </div>
    {{/each}}
  </div>
  <div class="w-1/3 border-r px-32">
    <div class="uppercase">
      Value
    </div>
    {{#each-in sizes as |key value|}}
    <div class="flex items-center justify-between my-8">
      <button class="p-4 min-w-icon-lg h-icon-lg mr-8 border rounded {{if (eq size key) 'border-green'}}" {{action (mut size) key}}>
        {{key}}
      </button>
      {{value}}
    </div>
    {{/each-in}}
  </div>
</div>
