<div class="text-2xl font-light mb-8">
  Typography
</div>

<div class="uppercase">
  font sizes
</div>
<table class="mb-50">
  <thead>
    <th>Class</th>
    <th>Properties</th>
    <th>Example</th>
  </thead>
  <tbody>
    {{#each-in model.typography as | key value| }}
    <tr>
      <td>
        <div class="code">
          .text-{{key}}
        </div>
      </td>
      <td class="w-1/4">
        <div class="">
          font-size: {{value.size}}{{value.unit}};
        </div>
        <div class="">
          line-height: {{value.line}};
        </div>
      </td>
      <td>
        <div class="text-{{key}}">The quick brown fox jumped over the lazy red dog.</div>
      </td>
    </tr>
    {{/each-in}}
  </tbody>
</table>

<div class="uppercase">
  Tracking
</div>

<table class="mb-50">
  <thead>
    <th>Class</th>
    <th>Properties</th>
    <th>Example</th>
  </thead>
  <tbody>
    {{#each-in model.tracking as | key value| }}
    <tr>
      <td>
        <div class="code">
          .tracking-{{key}}
        </div>
      </td>
      <td>
        tracking: {{value}};
      </td>
      <td>
        <div class="tracking-{{key}}">The quick brown fox jumped over the lazy red dog.</div>
      </td>
    </tr>
    {{/each-in}}
  </tbody>
</table>

<div class="uppercase">
  Fonts
</div>

<table class="mb-50">
  <thead>
    <th>Class</th>
    <th>Properties</th>
    <th>Example</th>
  </thead>
  <tbody>
    {{#each-in model.fonts as | key value| }}
    <tr>
      <td>
        <div class="code">
          .font-{{key}}
        </div>
      </td>
      <td>
        font-family: "{{value}}";
      </td>
      <td>
        <div class="font-{{key}}">The quick brown fox jumped over the lazy red dog.</div>
      </td>
    </tr>
    {{/each-in}}
  </tbody>
</table>
<div class="uppercase">
  Font Weights
</div>

<table class="mb-50">
  <thead>
    <th>Class</th>
    <th>Properties</th>
    <th>Example</th>
  </thead>
  <tbody>
    {{#each-in model.fontWeights as | key value| }}
    <tr>
      <td>
        <div class="code">
          .font-{{key}}
        </div>
      </td>
      <td>
        font-weight: {{value}};
      </td>
      <td>
        <div class="font-{{key}}">The quick brown fox jumped over the lazy red dog.</div>
      </td>
    </tr>
    {{/each-in}}
  </tbody>
</table>
