
<div class="text-2xl font-light mb-8">
  Usage
</div>

{{ui-heading label="CDN Hosting"}}

<div class="bg-blue border-blue rounded py-32 px-16">
  <a href="https://s3.amazonaws.com/seismic-core-css-demo/seismic-atomic-css-0.0.0.css" class="text-white text-lg">
    https://s3.amazonaws.com/seismic-core-css-demo/seismic-atomic-css-0.0.0.css
  </a>
</div>

<ul class="my-8">
  <li>
    The suggested usage is to compile this file into each project that requires it
  </li>
  <li>
    This is temporary as the goal is for this to be deployed to a CDN in dev, qa and prod
  </li>
</ul>
