/*
  Default
*/
.btn-default {
  @apply subpixel-antialiased
    transition
    whitespace-no-wrap
    uppercase
    rounded-button
    border
    min-w-button
    py-8
    px-16
    text-2xs
    tracking-wide
    font-bold
    text-center
    no-underline
    bg-transparent
    text-orange
    border-orange;
  outline: none;
}

/*
  Large
*/
.btn-lg {
  @apply text-xs
    py-16
    px-24
    min-w-button-lg;
}

.btn-default:active,
.btn-primary:active,
.btn-link:active,
.btn-transparent:active {
  outline: none;
}

/*
  Primary
*/
.btn-primary {
  @apply btn-default
    bg-orange
    text-white
    border-orange;
}
.btn-primary-lg {
  @apply btn-primary
    btn-lg;
}

.btn-primary:hover:not(:disabled),
.btn-primary-lg:hover:not(:disabled) {
  @apply shadow
    bg-orange-d
    border-orange-d;
}

.btn-primary:disabled,
.btn-primary-lg:disabled {
  @apply bg-gray-xl
    text-gray
    border-transparent
    cursor-not-allowed;
}

/*
  light
*/
.btn-light {
  @apply btn-default
    text-orange
    border-orange;
}
.btn-light:disabled,
.btn-light-lg:disabled {
  @apply bg-transparent
    text-gray
    border-gray
    cursor-not-allowed;
}

.btn-light-lg {
  @apply btn-light
    btn-lg;
}

.btn-light:hover:not(:disabled),
.btn-light-lg:hover:not(:disabled) {
  @apply shadow;
}

/*
  Dark
*/
.btn-dark {
  @apply btn-default
    text-white
    border-white;
}
.btn-dark:disabled,
.btn-dark-lg:disabled {
  @apply opacity-50
    cursor-not-allowed;
}

.btn-dark-lg {
  @apply btn-dark
    btn-lg;
}

.btn-dark:hover:not(:disabled),
.btn-dark-lg:hover:not(:disabled) {
  @apply bg-white
    text-gray-xd;
}

/*
  Link
*/
.btn-link {
  @apply btn-default
    bg-transparent
    text-gray-xd border-white;
}
.btn-link:hover,
.btn-link:focus {
  @apply underline;
}
.btn-link:disabled {
  @apply invisible;
}

/*
  Link
*/
.btn-link-alt {
  @apply btn-default bg-transparent text-white border-transparent;
}
.btn-link-alt:hover,
.btn-link-alt:focus {
  @apply underline;
}
.btn-link-alt:disabled {
  @apply invisible;
}
