.ratio-16\:9 {
  padding-top: 56.25%;
  @apply w-full 
    relative 
    overflow-hidden;
}

.ratio-16\:9 > *:first-child {
  @apply pin;
  position: absolute !important;
}

.ratio-4\:3 {
  padding-top: 75%;
  @apply w-full 
    relative 
    overflow-hidden;
}

.ratio-4\:3 > *:first-child {
  @apply pin;
  position: absolute !important;
}
