html {
  @apply bg-white
    font-sans
    font-normal
    text-default
    text-gray-xd;
}

html,
body,
.ember-application > .ember-view:first-child {
  height: 100%;
}

a {
  @apply text-gray-xd
  no-underline;
}
