
<div class="flex justify-center">
  <div class="w-full md:w-1/2 lg:w-1/4">
    <div class="mx-4 mb-4 shadow bg-white p-48 flex flex-col items-center">
        <div class="text-center text-lg mb-4">
          Content Profile
        </div>
        <div class="rounded border border-gray-xd p-48 mb-4">
        </div>
        <div class="text-center text-gray text-sm font-light">
          Traditional Profile are used to organize content within your DocCenter.
        </div>
        <div class="mt-8">
          <button class="btn-primary">select</button>
        </div>
    </div>
  </div>
  <div class="w-full md:w-1/2 lg:w-1/4">
    <div class="mx-4 mb-4 shadow bg-white p-48 flex flex-col items-center">
        <div class="text-center text-lg mb-4">
          Content Profile
        </div>
        <div class="rounded border border-gray-xd p-48 mb-4">
        </div>
        <div class="text-center text-gray text-sm font-light">
          Traditional Profile are used to organize content within your DocCenter.
        </div>
        <div class="mt-8">
          <button class="btn-primary">select</button>
        </div>
    </div>
  </div>
</div>
