<div class="flex flex-col md:h-screen overflow-scroll md:flex-row relative">
  <div class="md:h-screen overflow-scroll px-4 sticky pin-t bg-white border-r border-gray-l flex flex-col">
    {{#link-to "docs.index" class="w-64 mx-auto py-8"}}
      <img src="/assets/logo.png" />
    {{/link-to}}

    <div class="text-lg font-light">Seismic Styles</div>
    <div class="ml-8">
      <div class="font-bold capitalize">
        Getting Started
      </div>
      <div class="flex flex-row md:flex-col pl-8 mb-16">
        {{#link-to 'docs.index' activeClass="text-blue"}}
          Home
        {{/link-to}}
        {{#link-to 'docs.usage' activeClass="text-blue"}}
          Usage
        {{/link-to}}
      </div>
    </div>
    <div class="ml-8">
      <div class="font-bold capitalize">
        atoms
      </div>
      <div class="flex flex-row md:flex-col pl-8 mb-16">
        {{#link-to 'docs.colors' activeClass="text-blue"}}
          Colors
        {{/link-to}}
        {{#link-to 'docs.typography' activeClass="text-blue"}}
          Typography
        {{/link-to}}
        {{#link-to 'docs.borders' activeClass="text-blue"}}
          Borders
        {{/link-to}}
        {{#link-to 'docs.spacing' activeClass="text-blue"}}
          Margin & Padding
        {{/link-to}}
        {{#link-to 'docs.depth' activeClass="text-blue"}}
          Depth
        {{/link-to}}
        {{#link-to 'docs.layout' activeClass="text-blue"}}
          Layout
        {{/link-to}}
      </div>
      <div class="font-bold capitalize">
        components
      </div>
      <div class="flex flex-row md:flex-col pl-8 md:mb-16">
        {{#link-to 'docs.buttons' activeClass="text-blue"}}
          Buttons
        {{/link-to}}
        {{#link-to 'docs.components.modal' activeClass="text-blue"}}
          Modals
        {{/link-to}}
        {{#link-to 'docs.components.cards' activeClass="text-blue"}}
          Cards
        {{/link-to}}
      </div>
    </div>

    <div class="hidden md:block">

      <div class="text-lg font-light pt-4">Tailwind</div>
    </div>
    <div class="hidden md:block ml-8">
      <div class="font-bold capitalize">
        Layout
      </div>
      <div class="ml-8 flex flex-col mb-16">
        <a target="_blank" href="https://tailwindcss.com/docs/container">Container</a>
        <a target="_blank" href="https://tailwindcss.com/docs/display">Display</a>
        <a target="_blank" href="https://tailwindcss.com/docs/floats">Floats</a>
        <a target="_blank" href="https://tailwindcss.com/docs/overflow">Overflow</a>
        <a target="_blank" href="https://tailwindcss.com/docs/positioning">Position</a>
        <a target="_blank" href="https://tailwindcss.com/docs/visibility">Visibility</a>
      </div>

      <div class="font-bold capitalize">
        Typography
      </div>
      <div class="ml-8 flex flex-col mb-16">
        <a target="_blank" href="https://tailwindcss.com/docs/lists">Lists</a>
        <a target="_blank" href="https://tailwindcss.com/docs/text-style">Style & Decoration</a>
        <a target="_blank" href="https://tailwindcss.com/docs/text-alignment">Text Alignment</a>
        <a target="_blank" href="https://tailwindcss.com/docs/vertical-alignment">Vertical Alignment</a>
        <a target="_blank" href="https://tailwindcss.com/docs/whitespace-and-wrapping">Whitespace & Wrapping</a>
      </div>

      <div class="font-bold capitalize">
        backgrounds
      </div>
      <div class="ml-8 flex flex-col mb-16">
        <a target="_blank" href="https://tailwindcss.com/docs/background-attachment">Background Attachment</a>
        <a target="_blank" href="https://tailwindcss.com/docs/background-position">Background Position</a>
        <a target="_blank" href="https://tailwindcss.com/docs/background-repeat">Background Repeat</a>
        <a target="_blank" href="https://tailwindcss.com/docs/background-size">Background Size</a>
      </div>

      <div class="font-bold capitalize">
        borders
      </div>
      <div class="ml-8 flex flex-col mb-16">
        <a target="_blank" href="https://tailwindcss.com/docs/border-style">Border Style</a>
      </div>

      <div class="font-bold capitalize">
        flexbox
      </div>
      <div class="ml-8 flex flex-col mb-16">
        <a target="_blank" href="https://tailwindcss.com/docs/display">Display</a>
        <a target="_blank" href="https://tailwindcss.com/docs/flexbox-direction">Flex Direction</a>
        <a target="_blank" href="https://tailwindcss.com/docs/flexbox-wrapping">Flex Wrapping</a>
        <a target="_blank" href="https://tailwindcss.com/docs/flexbox-align-items">Align Items</a>
        <a target="_blank" href="https://tailwindcss.com/docs/flexbox-align-content">Align Content</a>
        <a target="_blank" href="https://tailwindcss.com/docs/flexbox-align-self">Align Self</a>
        <a target="_blank" href="https://tailwindcss.com/docs/flexbox-justify-content">Justify Content</a>
        <a target="_blank" href="https://tailwindcss.com/docs/flexbox-flex-grow-shrink">Flex, Grow, & Shrink</a>
      </div>

      <div class="font-bold capitalize">
        tables
      </div>
      <div class="ml-8 flex flex-col mb-16">
        <a target="_blank" href="https://tailwindcss.com/docs/border-collapse">Border Collapse</a>
        <a target="_blank" href="https://tailwindcss.com/docs/table-layout">Table Layout</a>
      </div>

      <div class="font-bold capitalize">
        interactivity
      </div>
      <div class="ml-8 flex flex-col mb-16">
        <a target="_blank" href="https://tailwindcss.com/docs/cursor">Cursor</a>
        <a target="_blank" href="https://tailwindcss.com/docs/pointer-events">Pointer Events</a>
        <a target="_blank" href="https://tailwindcss.com/docs/resize">Resize</a>
        <a target="_blank" href="https://tailwindcss.com/docs/user-select">User Select</a>
      </div>

      <div class="font-bold capitalize">
        Miscellaneous
      </div>
      <div class="ml-8 flex flex-col mb-16">
        <a target="_blank" href="https://tailwindcss.com/docs/appearance">Appearance</a>
        <a target="_blank" href="https://tailwindcss.com/docs/outline">Outline</a>
        <a target="_blank" href="https://tailwindcss.com/docs/svg">SVG</a>
      </div>
    </div>
  </div>
  <div class="flex-1 w-full md:w-3/4">
    <div class="mx-24 pt-16">
      {{outlet}}
    </div>
  </div>
</div>
