<div class="w-full bg-gray-xl md:p-8">
  <div class="p-4 md:p-8 md:w-1/2 mx-auto flex flex-col items-stretch justify-center">
    <div class="mb-32">
      <div class="flex justify-center">
        <img src="/assets/logo.png" class="px-4" style="height:50px;" />
      </div>
      <div class="text-3xl text-center">
        Atomic CSS
      </div>
    </div>
    <div class="">
      <div class="shadow px-64 pb-64 pt-32 bg-white mb-32">
        <div>
          {{ui-heading label="Why"}}
        </div>
        <div class="">
          CSS at scale is hard. We want to provide guardrails for developers to effectivly build Seismic applications focusing on UX/UI consistency, confidence in refactoring and composibility
        </div>
      </div>
      <div class="shadow px-64 pb-64 pt-32 bg-white mb-32">
        <div>
          {{ui-heading label="How"}}
        </div>
        <div class="">
          Provide convention based utility CSS classes that can be used to build web components agnostic of final implementation
        </div>
      </div>
    </div>
    <div class="mr-4 shadow px-64 pb-64 pt-32 bg-white">
      <div>
        {{ui-heading label="Get Started"}}
      </div>
      <div class="text-center pt-16">
        {{#link-to "docs" class="btn-light"}}Documentation{{/link-to}}
      </div>
    </div>

  </div>
</div>
